<h1>Add a bookmark to your category</h1>
<%= simple_form_for [@category, @bookmark] do |f| %>
  <%= f.association :recipe, prompt: "Select a recipe"%>
  <%= f.input :comment, placeholder: "Enter a comment about the recipe" %>
  <%= f.submit %>
<% end %>
